.pages3{
    width: 100%;
    height: 800px;


    .wrapper{
        display: flex;
        justify-content: space-between;

        .img4{
            margin-top: 90px;
        }

        .img5{
            margin-top: 100px;
        }
    }
}